{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{{ attach_library('ineratec/scroll-animation') }}
{% block paragraph %}                                                                                                                     
  <div class="animation-container w-full h-screen bg-cover bg-no-repeat bg-fixed bg-center overflow-hidden lg:mb-[189px] mb-[156px]" style="background-image: url('{{ file_url(content.field_bild_animation.0['#item'].entity.uri.value) }}');">
    <div class="bg-box bg-white mix-blend-screen w-full h-full text-center flex justify-center items-center z-20 bg-opacity-100">
      <h2 class="animation-title whitespace-nowrap 2xl:text-[156px] xl:text-[10.8vw] lg:text-[11.3vw] md:text-[11.1vw] text-[10.5vw]  uppercase font-PtSansBold">we are ineratec</h2>
    </div>
    <div class="animation-paragraph opacity-0 translate-y-5 absolute bottom-0 w-full h-screen">
      <div class="content-wrapper text-white lg:text-[70px] lg:leading-[90px] text-[28px] leading-[40px] h-full flex justify-center items-center font-PtSansBold">
        {{ paragraph.field_text_animation.value | raw }}
      </div>
    </div>
  </div>
{% endblock paragraph %}
