{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{% block paragraph %}
  <section class="content-wrapper mb-[105px] lg:mb-[139px] text-black"> 
      <div class="mb-[35px] lg:mb-[80px] heading-h2">{{ content.field_team_headline.0}}</div>
      <div class="flex flex-col lg:flex-row flex-wrap gap-y-10 lg:gap-x-[35px] content-center lg:justify-center">
        {% for paragraph in content.field_team_elemente %}
          {% if paragraph["#paragraph"] %}
              <div class="flex flex-col gap-[29px] lg:gap-[18px] w-[335px] lg:w-[305px] ">
                <div>
                  <img  src="{{ file_url(paragraph['#paragraph'].field_portrait.entity.uri.value) }}" alt="content.field_portrait['#items'].value.0.alt" class="w-full h-[426px]  lg:h-[388px] object-cover">
                </div>
                 <div >
                  {{ paragraph['#paragraph'].field_team_element_text.0.value |replace({'&nbsp;': " "}) | raw }}
                </div>
              </div>
          {% endif %}
        {% endfor %}  
      </div>
  </section>
{% endblock paragraph %}


